# Travis build
fab-polish >= 1.0.1, < 2
pep8
pyflakes
Fabric

# Flask and extensions
Flask == 1.0
flask-environments
alembic
Flask-SQLAlchemy
Flask-Script

# Production server
uwsgi

# Dependencies
inflection

# Testing
pytest-flask
pytest-cov
codeclimate-test-reporter
factory_boy
Faker

# Load testing
locustio

# Dev tools
ipython

# Monitoring
newrelic
