COMMON: &common
  # Flask
  TESTING: False
  DEBUG: False
  CSRF_ENABLED: True
  SECRET_KEY: 'replace-with-a-random-string'
  # DB
  SQLALCHEMY_DEBUG: DEBUG


DEVELOPMENT: &development
  <<: *common
  DEBUG: True
  # DB
  SQLALCHEMY_DATABASE_URI: 'sqlite:////tmp/federation_development.db'


TEST: &test
  <<: *common
  TESTING: True
  # DB
  SQLALCHEMY_DATABASE_URI: 'sqlite:////tmp/federation_test.db'


STAGING: &staging
  <<: *common
  # DB
  SQLALCHEMY_DATABASE_URI: 'sqlite:////tmp/federation_staging.db'


LATEST: &latest
  <<: *common
  # DB
  SQLALCHEMY_DATABASE_URI: ''


PRODUCTION: &production
  <<: *common
  # DB
  SQLALCHEMY_DATABASE_URI: ''
