COMMON: &common
  # Flask
  TESTING: False
  DEBUG: False
  CSRF_ENABLED: True
  SECRET_KEY: 'replace-with-a-random-string'
  # DB
  SQLALCHEMY_DEBUG: DEBUG


DEVELOPMENT: &development
  <<: *common
  ENV: 'development'
  DEBUG: True
  # DB
  SQLALCHEMY_DATABASE_URI: 'postgresql://postgres:@localhost/holonet_development?client_encoding=utf8'


TEST: &test
  <<: *common
  ENV: 'test'
  TESTING: True
  # DB
  SQLALCHEMY_DATABASE_URI: 'postgresql://postgres:@localhost/holonet_test?client_encoding=utf8'


STAGING: &staging
  <<: *common
  ENV: 'staging'
  # DB
  SQLALCHEMY_DATABASE_URI: 'postgresql://postgres:@localhost/holonet_staging?client_encoding=utf8'


LATEST: &latest
  <<: *common
  ENV: 'latest'
  # DB
  SQLALCHEMY_DATABASE_URI: ''


PRODUCTION: &production
  <<: *common
  ENV: 'production'
  # DB
  SQLALCHEMY_DATABASE_URI: ''
